@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #f9fafb;
  color: #111827;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.safe-bottom { padding-bottom: env(safe-area-inset-bottom, 0px); }
.safe-top { padding-top: env(safe-area-inset-top, 0px); }
